.idea
CRAWLER/.Python
CRAWLER/__pycache__
CRAWLER/ghostdriver.log
CRAWLER/auth.json
CRAWLER/bin
CRAWLER/selenium
CRAWLER/lib
CRAWLER/logs/
CRAWLER/img/
CRAWLER/data/
CRAWLER/node_modules
CRAWLER/include
CRAWLER/geckodriver.log
CRAWLER/screenshot.png
CRAWLER/pip-selfcheck.json
RSCRIPT/data
RSCRIPT/.Rproj.user
RSCRIPT/.Rhistory
RSCRIPT/RSCRIPT.Rproj
MODEL/__pycache__
MODEL/data/
MODEL/env/
MODEL/jpype-master/
MODEL/JPype1.egg-info/
MODEL/in/
MODEL/out/